.circle1{
    width:100px;
    height:100px;
    background-color: red;
    position: absolute;
    border-radius: 50%;
    left: 500px;
    top: 100px;
}
.circle2{
    width:150px;
    height:150px;
    background-color:  blue;
    position: absolute;
    border-radius: 50%;
    left: 550px;
    top: 100px;
}
.circle1:hover{
    transform: scale(2.5);
    left: 0;
    transition: 2.5s;
}
.circle2:hover{
    transform: scale(2.5);
     left: 0;
    transition: 2.5s;
}